[Desktop Entry]
Exec=/usr/local/bin/toggle_hdr.sh
Name=Toggle HDR
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
