# Setup required subvolumes
- name: System | BTRFS | Figure out filesystem UUID
  shell: "cat /etc/fstab | grep '/ ' | cut -d' ' -f1 | cut -d'=' -f2"
  register: get_uuid

- name: System | BTRFS | Print UUID
  debug:
    var: get_uuid.stdout

- become: yes
  block:
    - name: System | BTRFS | Create temporary mountpoint for btrfs top-level
      tags: system,btrfs
      file:
        path: /mnt/btrfs
        state: directory
        mode: "0755"

    - name: System | BTRFS | Mount btrfs top-level subvolume
      tags: system,btrfs
      ansible.posix.mount:
        path: /mnt/btrfs
        src: "UUID={{ get_uuid.stdout }}"
        fstype: btrfs
        opts: subvolid=5,defaults,noatime
        state: mounted
      vars:

    - loop: "{{ custom_subvolumes }}"
      include_tasks: create_subvolumes.yml

- become: yes
  block:
    - name: System | BTRFS | Backup | Activate timeline backups for root subvolume
      tags: system,btrfs,backup
      replace:
        path: /etc/snapper/configs/root
        regexp: '"TIMELINE_CREATE="no"'
        replace: '"TIMELINE_CREATE="yes"'

    - name: System | BTRFS | Backup | Keep two weeks of weekly timeline snapshots
      tags: system,btrfs,backup
      replace:
        path: /etc/snapper/configs/root
        regexp: 'TIMELINE_LIMIT_WEEKLY="0"'
        replace: 'TIMELINE_LIMIT_WEEKLY="2"'

    - name: System | BTRFS | Backup | Create @snapshots subvolume
      tags: system,btrfs,backup
      community.general.btrfs_subvolume:
        name: "@hsnapshots"
        filesystem_uuid: "{{ get_uuid.stdout }}"
        state: present

    - name: System | BTRFS | Backup | Install btrbk and btrfs-assistant
      tags: system,btrfs,backup,software
      community.general.pacman:
        name:
          - btrbk
          - btrfs-assistant
        state: present

    - name: System | BTRFS | Backup | Write btrbk config
      tags: system,btrfs,backup
      copy:
        src: "{{ dotfiles_root }}/ansible/roles/base/files/btrbk.conf"
        dest: /etc/btrbk/btrbk.conf

    - name: System | BTRFS | Backup | Ensure btrbk.timer override directory exists
      become: yes
      file:
        path: /etc/systemd/system/btrbk.timer.d
        state: directory
        mode: "0755"

    - name: System | BTRFS | Backup | Configure btrbk.timer override for hourly snapshots
      become: yes
      copy:
        dest: /etc/systemd/system/btrbk.timer.d/override.conf
        mode: "0644"
        content: |
          [Timer]
          OnCalendar=hourly
          Persistent=true

    - name: System | BTRFS | Backup | Enable and start btrbk timer
      tags: system,btrfs,backup,service
      systemd:
        name: btrbk.timer
        enabled: true
        state: restarted
